---
import type { Author, Note, Link } from "../types/types";
import Links from "./Links.astro";
import Authors from "./Authors.astro";
import Notes from "./Notes.astro";
import Institutions from "./Institutions.astro";

interface Props {
  title: string;
  authors: Author[];
  institutions: { number: number | string; name: string }[];
  conference?: string;
  notes?: Note[];
  links: Link[];
}

const { title, authors, institutions, notes, conference, links } = Astro.props as Props;
---

<header class="flex flex-col gap-10 items-center mb-6">
  <h1>{title}</h1>
  <div class="flex flex-col gap-4 items-center">
    <Authors authors={authors} />
    <Institutions institutions={institutions} />
    {notes && <Notes notes={notes} />}
    {conference && <p class="text-center text-xl font-semibold">{conference}</p>}
    {links && <Links links={links} />}
  </div>
</header>
